table {
	
	border: solid red 2px;
	height: 100px;
	width:1500px;
}

tr {
	
	border: solid red 2px;
	height: 100px;
	width:100px;
}

th {
	
	border: solid red 2px;
	height: 100px;
	width:100px;
}

td {
	
	border: solid red 2px;
	height: 100px;
	width:100px;
	text-align: center;
}

img {
	height: 95px;
	width: 95px;
}

